build/
node_modules/
appjs.sublime*
deps/*
publish/
data/pak
data/linux/node-bin/ia32/node
data/linux/node-bin/x64/node
data/mac/node-bin/node
data/win/node-bin/node
*.vcxproj
*.sln
node.exe
/deps/
.DS_Store
/app/
npm-debug.log
/app-win/
